@font-face{
	font-family: 'Alcubierre';
	src: url('Alcubierre.otf');
}
.banner{
	height: 750px;
	width: auto;
	background-size: cover;
	display: block;
	position: relative;
}
.box{
	margin: auto;
	width: 650px;
	height: 400px;
	background-color: black;
	opacity: 0.6;
	color: white;
}
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
.red-text {
	color: red;
}
.position-center{
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
.margin-fix{
	margin-right: 9em;
	margin-left: 10em;
}
table{
	margin: auto;
	border: solid 1px black;
}
td,th{
	text-align: center;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
th{
	font-size: 1.3em;
}
.displayout{
	text-align: center;
	width: 100%;
}
.display{
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 10px;
}
.bigButton{
	width: 180px;
	height: 45px;
	border-radius: 4px;
	border: solid;
	border-color: navy;
	background-color: white;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.newfont{
	font-family: 'Alcubierre';
	font-weight: bold;
}