.banner{
	height: 750px;
	background-size: cover;
	display: block;
	position: relative;
}
.box{
	margin: auto;
	width: 650px;
	height: 400px;
	background-color: black;
	opacity: 0.6;
	color: white;
}
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
.red-text {
	color: red;
}
.position-center{
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
.margin-fix{
	margin-right: 9em;
	margin-left: 10em;
}